* {
    margin: 0;
    padding : 0;
    font-familly: 'San Francisco Display Thin' , sans-serif;
}

.content {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding-top: 50px;
}


h1 {
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #dedede;
}